:root {
  --main-text-color: #757575;
  --main-title-color: #212121;
  --alt-title-color: #fff;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --alt-text-color: #fff9;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
img {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.link {
  color: inherit;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.logotype {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-title-color);
  margin-right: 93px;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.menu {
  display: inline-flex;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.list .link.navigation-link-current {
  color: var(--accent-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation-link,
.navigation-link-current {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header .contact-link {
  margin-left: 50px;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.order-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--alt-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-title-color);
  background-color: var(--second-bg-color);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--alt-title-color);
  background-color: var(--accent-color);
}
.address {
  font-style: inherit;
}
.title {
  font-family: var(--main-font);
}
.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-title-color);
}
.section-title {
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 1.17;
  color: var(--main-title-color);
}
.details-section-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
}
/* .details-section-description {
} */
.team-title {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-title-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}
.team-list-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.team-description {
  font-size: 16px;
  line-height: 1.18;
}
.dark-bg {
  background-color: var(--bg-color);
}
.team-bg {
  background-color: var(--second-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer-logotype {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--alt-title-color);
}
.logo-item {
  color: var(--accent-color);
}
.footer-link {
  color: var(--alt-title-color);
}
.footer-link2 {
  color: var(--alt-text-color);
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}
